<!DOCTYPE html>
<html>

<head>
    <title>BAG online shopping mall</title>
    <style>
        td {
            border: 3px solid gray;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1>DaLau</h1>
        <h2><span id="clock"></span></h2>
        <script type="text/javascript">
            var clockElement = document.getElementById('clock');

            function clock() {
                clockElement.textContent = new Date().toLocaleString();
            }

            setInterval(clock, 1000);
        </script>
        <table class="table table-striped table-dark" style="width:100%">
            <td> </td>
            <td> id </td>
            <td> name </td>
            <td> categories </td>
            <td> stock </td>
            <td> price </td>
            <td> Amount </td>
            {% for item in items %}
            <tr>
                <td><img src="{{item.img_url}}" width="300" height="300"></td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.categories}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.price}}</td>
                <td>
                    <form action="../ordering" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{item.id}}">
                        <input type="number" class="form-control" name="id_{{item.id}}_amount" value="1"><br>
                        <button type="submit" class="btn btn-success" value="buy">Buy</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>